
docs/Year1/BlockA/DataScience/.vs/DataScience/v16/.suo
docs/Year1/BlockA/DataScience/.vs/ProjectSettings.json
docs/Year1/BlockA/DataScience/.vs/slnx.sqlite
docs/Year1/BlockA/DataScience/.vs/VSWorkspaceState.json
